<div class="row justify-content-center">
    <div *ngFor="let colP of tabCollegueParticipants">
        <div class="col">
            <div class="card">
                <div class="card">
                    <img src="{{colP.photoUrl}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{colP.nom}} {{colP.prenom}}</h5>
                    </div>
                    <div class="card-footer">
                        <button (click)=envoyeVote(true,colP.email) type="button" class="btn btn-primary btn-sm">Pouce
                            bleu</button>
                        <button (click)=envoyeVote(false,colP.email) type="button"
                            class="btn btn-secondary btn-sm">Pouce rouge</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>